html {
  min-height: 100%;
}

.container {
  min-height: 100vh;
  margin-top: 20px;
}

.grid {
  min-height: 80vh;
}

.ui.message {
  min-height: 60vh;
}

.ui.button {
  min-height: 10vh;
}

p {
  text-align: center;
  font-size: 12em;
  padding-top: 18vh;
}
